<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="format-detection" content="telephone=yes"/>
    <meta name="msapplication-tap-highlight" content="no"/>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel='stylesheet' href='/css/planDetialstyle.css'/>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/vue.js"></script>
</head>
<body>
<div class="list-group">
    <div class="list-group-item">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-5 "> 支付时间：</div>
                <div class="col-xs-7 "><%=starttime%></div>
            </div>
        </div>
    </div>
    <div class="list-group-item">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-5 "> 到期时间：</div>
                <div class="col-xs-7 "><%=endtime%></div>
            </div>
        </div>
    </div>
    <div class="list-group-item">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-5 "> 有效期：</div>
                <div class="col-xs-7 "><%=dif%></div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
</script>
</html>