body{
    position: relative;
    background-image: url("/imgs/login_bg.png");
    background-size: cover
}
.signin {
	/*width:477px;*/
	/*height:479px;*/
    width: 100%;
    height: 100%;
    /*background:url(../images/login_bg.png) no-repeat;*/
    /*background-size:100% 100%;*/
	margin:0 auto;
	position:absolute;
    padding: 50px;
	/*top:50%;*/
	/*left:50%;*/
	/*margin-top:-239px;*/
	/*margin-left:-238px;*/
}
.signin-head {
    margin:0 auto;
    width: 120px;
    height:120px ;
}
.signin-text1{
    margin: 0 auto;
    text-align:center;
}
.signin-text2{

    margin: 0 auto;
    text-align:center;
}
.form-signin {
  max-width: 330px;
  padding: 30px 15px 15px 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: 14px;
  border-radius: 0;
  /*padding-left:60px;*/
  color: #000000;
    text-align:center;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-radius: 0;
  /*padding-left:60px;*/
  color: #000000;
    text-align:center;
}
.form-signin button {
  border-radius: 0;
}
#openid,#password{
    display:none;
}
.bindingTitle{
    margin: 0 auto;
  background-color: #5e5e5e;
    color: #ffffff;
    text-align: center;
    padding: 2px;
}
#telText{
    color: #c90000;
    text-align: center;
}
